* {
    box-sizing: border-box;
    /* border:1px solid; */
    margin:0;
    padding:0;
}
body {
    height:100vh;
    width:100vw;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}
@media screen and (max-width:1000px) {
    body {
        background-color: black;
        padding-top:5vh;
    }
    header {
        background-color: rgb(247, 255, 254);
        height:10vh;
        display:flex;
        align-items:center;
        justify-content:space-between;
        padding:10px;
        /* position:sticky; */
        /* top:0; */
    }
    header .logo {
        width:15%;
        height:7vh;
    }
    header .title {
        font-weight:900;
        font-style: italic;
    }
    .logo img {
        height:100%;
        width:100%;
        object-fit: contain;
    }
    header a {
        border:none;
        height:4vh;
        font-size:0.5rem;
    }
    header button {
        height:4vh;
        padding:4px;
        height:inherit;
        border-radius:10px;
        border:none;
        background-color: rgb(29, 206, 250);
        font-size:0.5rem;
    }
    .tabs {
        height:5vh;
        width:100%;
        display:flex;
        justify-content:space-between;
        /* position:sticky; */
        /* top:0; */
    }
    .tabs a {
        width:25vw;
        font-size:0.6rem;
        border:none;

    }
    .tabs a button , header a button  {
        text-decoration:none;
        border:none;
        height:5vh;
        width:100%;
        border-left:1px solid gray;
    }
    .tabs a button :focus {
        background-color: rgb(255, 213, 24);
        border-bottom:3px solid orangered;
    }
    .container {
        height:80vh;
        width:100vw;
        overflow-y:scroll;
        overflow-x: hidden;
        background-image: url(images/bgc8.jpg);
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
        background-repeat: no-repeat;
        background-position:center;
        background-size:cover;
        background-color:#99FFFF;
        /* position:absolute; */
    }
    #home {
        height:inherit;
        width:100vw;
        /* background-color: rgb(129, 234, 248); */
        background-image: url(images/imgb.jpg);
        background-position:center;
        background-size: cover;
        opacity:1;
        display:flex;
        flex-direction:column;
        justify-content: space-around;
    }
    .home-hr {
        border:2px solid;
    }
    .home-title {
        height:20%;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:space-around;
    }
    .home-title h2 {
        font-size:1.5rem;
        font-weight:1200;
    }
    .home-image {
        height:40%;
        width:98vw;
        display:flex;
        justify-content: center;
    }
    .home-image img {
        /* object-fit: contain; */
        height:100%;
        width:98%;
        box-shadow: 5px 5px 5px  rgb(16, 111, 128);
    }
    .home-verse {
        height:25%;
        display:flex;
        flex-direction:column;
        justify-content:space-around;
        padding-left:5px;
        animation:verses 10s  linear infinite;
    }
    @keyframes verses {
        0% {
            color:white;
        }
        20% {
            color:black;
        }
        70% {
            color:black;
        }
        100% {
            color:white;
        }
    }
    .home-verse h3 {
        font-size:1.2rem;
    }
    .home-verse p {
        font-weight: 700;
        font-family:Verdana;
    }

    #programmes {
        height:inherit;
        background-color: #F0F8FF;
        opacity: 0.8;
        padding:5px;
        display:flex;
        flex-direction:column;
        justify-content: space-around;
    }
    #programmes h2 {
        text-align:center;
        margin:15px 0;
    }
    .programs-header {
        height:10vh;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        font-size:1.2rem;
    }
    .programs-header-top {
        font-style: italic;
        font-weight:800;
    }
    .programs-header-bottom {
        font-weight:900;
        font-size:1.2rem;
    }
    .programs-body {
        margin-bottom:30px;
    }
    .programs-body table td {
        width:50%;
        height:8vh;
        border-bottom:1px solid;
        padding:5px;
        color:white;
        font-size:1.2rem;
        font-weight:900;
    }
    .programs-body table td:first-of-type {
        border-right:1px solid;
    }
    .programs-body table tr:nth-of-type(odd) {
        background-color: rgb(3, 3, 3);
    }
    .programs-body table tr:nth-of-type(even) td{
        background-color: rgb(236, 228, 228);
        color:black;
    }
    #events {
        height:120vh;
        background-color: #bde0fe;
        opacity: 0.6;
    }
    #groups {
        /* height:inherit; */
        width:inherit;
        background-color: #DFFFFD;
        opacity: 0.6;
        padding:5px;
    }
    #groups h2, #groups h3 {
        text-align:center;
    }
    .groups-board {
        height:50vh;
        width:100vw;
        display:flex;
        flex-direction:column;
        justify-content:space-around;
        margin-bottom:20px;
    }
    .groups-board .board-members {
        height:80%;
        width:100vw;
        display:flex;
        align-items:center;
        overflow:scroll;
        padding:0 10px;
        gap:30px;
    }
    .groups-board .member {
        height:200px;
        min-width:200px;
        border-radius:50%;
        border:2px solid;
    }
    .groups-singers {
        height:50vh;
        width:100vw;
    }
    .praise-worship {
        width:100vw;
        display:flex;
        gap:20px;
        align-items:center;
        overflow:scroll;
        padding:5px;
    }
    .singers-label  {
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:Center;
        width:90%;
        height:45vh;
        padding:5px;
    }
    .singers-label p {
        width:80vw;
        height:5vh;
        text-align:center;
    }
    .praise-worship img {
        height:30vh;
        width:98%;
    }
    .singer {
        height:200px;
        min-width:200px;
        border:1px solid;
    }
    #timeline {
        height:inherit;
        background-color: #40E0D0;
        opacity: 0.6;
    }
}