* {
    box-sizing: border-box;
    /* border:1px solid; */
    margin:0;
    padding:0;
}
body {
    height:100vh;
    width:100vw;
    font-family: 'Montserrat', sans-serif;
    /* overflow: hidden; */
}
@media screen and (max-width:1000px) {
    body {
        
    }
    header {
        height:10vh;
        display:flex;
        align-items:center;
        justify-content:space-between;
        padding:10px;
        /* position:sticky; */
        /* top:0; */
    }
    header .logo {
        width:15%;
        height:7vh;
    }
    .logo img {
        height:100%;
        width:100%;
        object-fit: contain;
    }
    header a {
        border:none;
        height:5vh;
    }
    header button {
        padding:4px;
        height:inherit;
        border-radius:10px;
        border:none;
        background-color: rgb(29, 206, 250);
    }
    .tabs {
        height:5vh;
        width:100%;
        display:flex;
        justify-content:space-between;
        /* position:sticky; */
        /* top:0; */
    }
    .tabs a {
        width:25vw;
        font-size:0.6rem;
        border:none;

    }
    .tabs a button , header a button  {
        text-decoration:none;
        border:none;
        height:5vh;
        width:100%;
        border-left:1px solid gray;
    }
    .tabs a button :focus {
        background-color: rgb(255, 213, 24);
        border-bottom:3px solid orangered;
    }
    .container {
        height:80vh;
        overflow-y:scroll;
        background-image: url(images/bgc8.jpg);
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
        background-repeat: no-repeat;
        background-position:center;
        background-size:cover;
        background-color:#99FFFF;
        position:absolute;
    }
    #home {
        height:inherit;
        background-color: rgb(126, 237, 252);
        opacity:0.6;
        display:flex;
        flex-direction:column;
        justify-content: space-around;
    }
    .home-title {
        height:25%;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:space-around;
    }
    .home-title h2 {
        font-size:1.5rem;
        font-weight:bolder;
    }
    .home-image {
        height:35%;
    }
    .home-verse {
        height:25%;
        display:flex;
        flex-direction:column;
        justify-content:space-around;
        padding-left:5px;
        animation:verses 10s  linear infinite;
    }
    @keyframes verses {
        0% {
            color:white;
        }
        20% {
            color:black;
        }
        70% {
            color:black;
        }
        100% {
            color:white;
        }
    }
    .home-verse h3 {
        font-size:1.2rem;
    }
    .home-verse p {
        font-weight: 700;
        font-family:Verdana;
    }

    #programmes {
        height:inherit;
        background-color: #F0F8FF;
        opacity: 0.6;
    }
    #events {
        height:inherit;
        background-color: #bde0fe;
        opacity: 0.6;
    }
    #groups {
        height:inherit;
        background-color: #DFFFFD;
        opacity: 0.6;
    }
    #timeline {
        height:inherit;
        background-color: #40E0D0;
        opacity: 0.6;
    }
}